.tabbable > .nav {
  margin: 25px 0 30px 0
}
.tabbable > .nav > li > a {
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.tab-content {
  padding-bottom: 15px
}

/*.form-group:last-child:not(:first-child),*/
.shiny-file-input-progress {
  margin-bottom: 0
}
.shiny-input-container-fw .shiny-input-container {width: 100%}
#shiny-notification-panel {width: 100%}

table.dataTable thead > tr > th {
	padding-left: 8px;
	padding-right: 8px;
}
table.dataTable table.tdTable:not(:last-child) {
  margin-bottom: 0.5em;
}
table.dataTable table.tdTable td:first-child {
  padding-right: 8px;
  font-weight: bold;
  font-size: 12px;
}

label a[data-toggle=tooltip] {
  margin-left: 0.25em;
  font-size: 13px;
  line-height: 1;
}

#chatDialogContainer {
  height: 380px;
}
#completionsDialogContainer {
  height: 434px;
}
#imgGenPromptInput {
  height: 134px;
}
